.welcome-container {
  background: black;
  min-height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 5rem;
  text-align: left;
}

.welcome-text {
  padding: 30px;
}
