.welcome-container {
  background: black;
  min-height: calc(100vh - 50px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 6rem;
  text-align: left;
}

#welcome-header {
  white-space: nowrap;
}

.welcome-text {
  padding-bottom: 30px;
}

.about-text {
  width: 50%;
  text-align: right;
  margin-left: auto;
}

.about-text > p {
  color: #23aed1;
  font-size: 1.4rem;
}

.text-wrapper {
  max-width: 1300px;
  padding: 30px;
}

#welcomeArrow {
  position: relative;
  top: 40px;
}

.welcome-arrow {
  color: #fc4445;
  font-size: 2.5rem;
  transition: 0.5s ease;
}

.welcome-arrow:hover {
  color: #fff;
}

/* -----------------Mobile section------------ */

@media screen and (max-width: 960px) {
  h1 {
    font-size: 10vw;
  }

  .about-text > p {
    font-size: 3vw;
  }
}

@media screen and (max-width: 460px) {
  #welcome-header {
    white-space: normal;
  }

  .about-text {
    width: 75%;
  }

  .about-text > p {
    font-size: 1rem;
  }

}
