.navbar {
  background: black;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 999;
  width: 100%;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 10px;
  list-style: none;
  text-align: center;
  width: 95vw;
  justify-content: end;
  margin-right: 0.2rem;
}

.nav-links {
  color: #b1b0b0;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 10px 0 10px;
  height: 100%;
  font-size: 1rem;
  transition: 0.5s ease;
}

.nav-links:hover {
  color: #fc4445;
}

/* Mobile Section */

@media screen and (max-width: 960px) {
  .nav-menu {
    display: block;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    display: block;
    height: 100vh;
    background: #000000;
    top: 50px;
    left: 0%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 1.5rem;
  }

  .nav-links:hover {
    background: none;
    border-radius: 0;
    transition: 300ms;
  }

  .mobile-icon {
    display: block;
    position: absolute;
    top: -1px;
    right: 0;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .times,
  .bars {
    color: #b1b0b0;
    font-size: 2rem;
  }

  .times:hover,
  .bars:hover {
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
}
