/* ---------- start intro section ---------- */
.music-section {
  height: 100%;
  background-color: black;
}

.music-header-section {
  margin: auto;
  text-align: center;
  padding: 30px 30px 80px 30px;
  max-width: 600px;
}

.music-header {
  text-align: center;
  font-size: 170px;
  padding-bottom: 50px;
}

.music-description {
  color: #888888;
  font-size: 1.2em;
}
/* ---------- card and image section --------- */

.music-project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 100px 100px 100px;
  margin: auto;
  max-width: 1440px;
}

.music-image {
  height: auto;
  width: 100%;
  border-radius: 10px;
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.text-overlay {
  color: #fff;
  font-size: 0.9em;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-container {
  position: relative;
  text-align: center;
}

.music-cards {
  width: 25%;
  max-width: 375px;
  min-width: 275px;
  padding: 30px 15px 60px 15px;
}

.image-container:hover .music-image {
  opacity: 0.12;
}

.image-container:hover .text-overlay {
  opacity: 1;
}

.music-title {
  color: #fff;
  padding: 20px 0 10px 0;
}

.music-release {
  color: #888888;
  padding-bottom: 5px;
  font-size: 1rem;
}

.links {
  font-size: 1rem;
  color: #888888;
}

.links > a {
  text-decoration: none;
  text-decoration: none;
  color: #8c4eff;
}

a {
  text-decoration: none;
}

.links > a:hover {
  transition: 0.3s;
  color: #fff;
}

/* ------------ Mobile responsive section --------------- */

@media screen and (max-width: 960px) {
  .music-project-container {
    flex-direction: column;
    align-items: center;
    padding: 0 15px 55px 15px;
  }

  .music-cards {
    width: 100%;
    max-width: 600px;
  }

  .music-title {
    font-size: 6vw;
  }

  .text-overlay {
    font-size: 1em;
    position: static;
    opacity: 1;
    top: 0;
    left: 0;
    transform: none;
    color: #888888;
    padding-top: 5px;
  }

  .image-container {
    position: static;
    text-align: center;
  }

  .image-container:hover .music-image {
    opacity: 0.5;
    color: #fff;
  }
}

@media screen and (max-width: 600px) {
  .music-header-section {
    padding-bottom: 40px;
  }

  .music-header {
    font-size: 28vw;
    padding-bottom: 15px;
  }
  .music-description {
    font-size: 1.1em;
  }
}
